body{
    background-color: #dde1ba;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #CCD5AE;
    width: 400px;
    height: 500px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 2px black;
}
#tittle-style{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFAE0;
    width: 100%;
    height: 100px;
    text-decoration: underline;
}
#container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#container-info .input{
    padding: 10px;
    font-size: 20px;
    color: #fff9d5; 
}
#peso{
    margin-left: 10px;
}
#container-info input{
    text-align: center;
    font-size: 15px;
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
#calcular{
    margin: 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    transition: 0.5s;
    background-color: #fcfaea;
}
#calcular:hover{
    background-color: #D4A373;
    color: #FEFAE0;
}
.resultados{
    margin-top: 15px;
    padding: 10px;
    display: flex;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    border: 1.5px dashed #ddd9c2;
    background-color: #b78b5d;
    color: #f1f7cf;
    height: 100px;
}

